* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: hsl(351, 100%, 45%);
    display: flex;
    margin: 1rem 0rem 0rem 1rem;
    border-radius: 2rem;
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

nav a {
    text-decoration: none;
    /* margin: 0.75rem; */
    padding: 1rem 1rem;
    color: #dedede;
    background-color: #E60023;
    border-radius: 2rem;
    transition:
    color 0.5s ease,
    background-color 0.5s ease;
}

nav a:hover {
    text-decoration: none;
    background-color: #a10018;
    color: #fff;
}

main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 40px 20px;
    background-color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 200%;
    color: #111111;
    max-width: 100%;
    width: 100%;
    background-color: #ffffff;
    padding-top: 100px;

}