* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 200%;
    background-color: #fffffb;
    color: #2D2D34;
    
}



.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-container > div {
    margin: 2% 2% 5% 5%;
}

@media screen and (max-width:600px) {
    div.flex-container {
        flex-direction: column;
    }
}


.row {
    display: flex;
    justify-content: center;
    align-items: center;
}



.column img {
    margin: 5%;
    width: 50%;
}

@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}